.form{
    margin: 20px 10px;
    display: inline-block;
    width: 100%;
}
.form input[type=email],.form input[type=text], .form input[type=name], .form input[type=number]{
    margin: 10px 13px;
    padding: 10px 10px;
    width: 96%;
    border-radius: 5px;
    border: 1px solid grey;
    height: 20;
}
.form input[type=text]{
    height: 150px;
}
.form button[type=submit]{
    background-image: linear-gradient(to right,#79ebff,#badc58);
    padding: 10px;
    outline: olivedrab;
    border: none;
}
.form button[type=submit]:hover{
    box-shadow: 1px 1px 10px #afa8cf;
    background-image: linear-gradient(to right,#badc58,#79ebff);
}

.icon{
    width: 13px;
}
.info p{
    margin: 5px 5px;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .content{
        width: 100%;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .info{
        width: 100%;
        font-size: 12px;
        margin: 10px auto;
    }
    .info p{
        font-size: 13px;
        margin: 0px;
    }
    .form{
        width: 100%;
        margin: 0px auto;
        
        
    }

}
