.footer{
    width: 100%;
    height: 10vh;
    color: blue;
    background-color: crimson;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


