.body{
    background-image: url('https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    width:100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 30vh;

    
}
.form{
    background-color: white;
    width: 40%;
    height: auto;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-top: 20px;
}
.form h1{
    text-align: center;
    
}
.btn{

    padding: 10px;
    outline: olivedrab;
    height: 40px;
    border: none;
    background-image: linear-gradient(to right,#6073e0,#f184df);
}
.btn:hover{
    box-shadow: 1px 1px 10px #cfa8ad;
    background-image: linear-gradient(to rigth,#badc58,#79ffe2);
}
